h3 {
  text-align: center;
  align-items: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 1.3rem;
}

p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  align-items: center;
  font-size: 1rem;
}

.text-box {
  color: #ffffff;
  background-color: #121212;
  align-items: center;
  text-align: center;
  padding: 3rem 1rem;
  text-align: justify;
}
