.P1image {
  position: relative;
  height: 100vh;
}
.P1content {
  display: flex;
  align-items: left;
  justify-content: left;
  position: absolute;
  height: 100vh;
  width: 100vw;
}
.P1spantext {
  /*background-color: #000000;*/
  color: #dfe0e2;
  text-transform: capitalize;
  margin-top: 100px;
  margin-left: 100px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  font-size: 2.9rem;
  letter-spacing: 5px;
  border-radius: 1rem;
  animation: fadeIn 1600ms ease-in;
}
